.chip{

   
    
        border-radius: 4px;
        border: solid 1px #ababab;
        padding: 5px 10px;
        margin-right: 7px;
        font-size: 11px;
        color: #344548;
        display: inline-block;
        margin-bottom: 10px;
        cursor: pointer;
    
}
.chip:hover {
    background: #3674bc;
    color: #fff;
    border-radius: 3px;
}


.replay{
    background-color: #e5e5e5;
    border-radius: 4px;
    border: solid 1px #ababab;
    padding: 5px 10px;
    margin-right: 7px;
    font-size: 11px;
    color: black;
    display: inline-block;
    margin-bottom: 10px;
    cursor: pointer;
}

.replay:hover {
    background: #3674bc;
    color: #fff;
    border-radius: 3px;
}



.message-bubble.me{
    border: 2px solid #dedede;
    background-color: #e5e5e5;
    border-radius: 25px;
    padding-top: -4px;
    padding-bottom: -1px;
    float: right;
    width: 44%;
    color:black;
   
    
}
.user_img{
 
    height: 33px;
    width: 33px;
    border: 1.5px solid #f5f6fa;
    float: left;
    position: relative;
    /* right: 153%; */
    right: 4%;
   
}
.message-content-inner{
   width:100%;
}
.message-text{

    font-size: 14px;
    font-style: oblique;
    /* line-height: 22px; */
    text-align: start;
}
#suggestion{
       /* width: 27%; */
       position: fixed;
       top: 513px;
       left: 703px;
       
       width: -2%;
       /* overflow-y: auto; */
       /* overflow-x: auto; */
       width: 25em;
       overflow-x: auto;
       white-space: nowrap;
}



.message-bubble.bot{
    width: 100%;
    border: 2px solid #dedede;
    background-color: #26b8a2;
    color: #ffffff;
    border-radius: 25px;
    padding: 10px;
    padding: 5px;
    margin: 10px 0;
    margin-right: 10px;

 
}
.message-avatar{
    float: left;
}
