

.message-replay{
background: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 0 2px 0;
    opacity: 1;
    height: 47px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-top: 1px solid #dfdfdf;
    margin-bottom: 0;

}

h6{
text-align: center;
margin-top: -83px;
    /* margin-bottom: -12px; */
    margin-right: 137px;
    
}

hr{

height: 0;
overflow: hidden;


}
.card-body{
    background-color: white;
}

.user_info{
    margin-top: 8%;
    margin-bottom: auto;
    margin-left: 5px;
    color:white;
    font-weight: bold;
    font-size: 22px;
}
a{
    color: white;
}

.chat-window{
    position: absolute;
    width: 80%;
    height: 80%;
    margin-left: 2rem;;
    overflow-y: auto;
}
.message-input{
    position: fixed;
    bottom: 0;
    left: 10%;
    width: 80%;
    min-height: 5%;
    margin: auto;
}
.input-msg-box{
    width: 95%;
}
.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
   
}
#rateMainWrapper {
    float: left;
    position: relative;
}
#actionButtonsContainer a {
    font-size: 19px;
    color: #bdbdbd;
    text-decoration: none;
    float: left;
    margin-left: 11px;
}
textarea {
    
    text-rendering: auto;
    color: -internal-light-dark-color(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: textarea;
    background-color: -internal-light-dark-color(white, black);
    -webkit-rtl-ordering: logical;
    flex-direction: column;
    resize: auto;
    cursor: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    margin: 0em;
    font: 400 13.3333px Arial;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(169, 169, 169);
    border-image: initial;
    padding: 2px;
}
input:focus, textarea:focus, select:focus{
    outline: none;
}
#chatTextarea {
    padding: 0;
    margin: 0;
    height: 126%;
    width: 118%;
    overflow: hidden;
    resize: none;
    border: 0;
    font-size: 14px !important;
    background-color: #fff;
    color: #000;
    font-family: inherit;
    
}
#actionButtonsContainer {
    position: absolute;
    right: 14px;
    top: 11px;
}
#hidableActionsWrapper {
    float: left;
}
#actionsContainer{
    z-index: 99998;
    background-color: #fff;
    border-top: 2px solid #e1e1e1;
    position: absolute;
    bottom: 0;
    width: 94%;
    height: 46px;

}

#textareaWrapper {
    display: block;
    background-color: #fff;
    position: relative;
    height: 102%;
    z-index: 2;
}
#textareaContainer {
    height: 100%;
    padding: 16px 14px 13px 14px;
    box-sizing: border-box;
}
#textareaContainer.with-emoji {
    padding-right: 44px;
    padding-left: 14px;
}
#textareaContainer.additionalPadding {
    padding-right: 104px;
}

.msg-bubble-bot{
    border-radius: 10rem;
    background-color: #78e08f;
    color: #ffffff;
    padding:0.8rem; 
    margin-top: 0.3rem;
    
}
#chat-circle {
    position: fixed;
    bottom: 50px;
    right: 50px;
   
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
   
    cursor: pointer;
    
}
#clear{
   
        top: 20px;
        position: relative;
        left: 125px;
        top: 38px;
    
}
.msg-bubble-human{
    height: 40px;
    width: 40px;
}

.card-with-img-text{
   border-radius: 10rem;
    background-color: #0069D9;
    color: #ffffff;
    padding:0.8rem; 
    margin-top: 0.3rem;
}
.card-with-img-text img {
    max-width: 250px;
    border: #0069D9 1px solid;
}


#img{

    position: relative;
    height: 70px;
    width: 70px;
}

#imagePreview{
    margin-top: auto;
    margin-bottom: auto;
    
}
.card-header{
    border-radius: 15px 15px 0 0 !important;
    border-bottom: 0 !important;
}
.msg_head{
    position: relative;
}

.user_img{
    height: 70px;
    width: 70px;
    border:1.5px solid #f5f6fa;

}

.online_icon{
    position: absolute;
    height: 15px;
    width:15px;
    background-color: #4cd137;
    border-radius: 50%;
    bottom: 0.2em;
    right: 0.4em;
    border:1.5px solid white;
}
.mb-4, .my-4 {
    margin-bottom: 9.5rem!important;
    width: 100%;
}
.card-footer{
   width:95%;
        margin-top: 40%;
        position: absolute;
     height:20%;
        background-color: #203255;
}
.chat{
    margin-top: auto;
    margin-bottom: auto;
}
.glyphicon.glyphicon-remove{
    color:white;
}
#closeBtn{
    
        width: 30px;
        
        
        float:right;
  
}
#close {
    float: right;
    /* margin-bottom: 679px; */
    /* margin-left: 368px; */
    cursor: pointer;
    position: absolute;
    padding: 2px 5px;
    top: 10%;
    margin-left: 0px;
}
.glyphicon.glyphicon-thumbs-down{
    color: #f99 ;
  
}
.glyphicon.glyphicon-thumbs-up{
    
    color: #b4deab ;
}

#rating{

    float: right;
}
.fa.fa-paperclip.fa-lg{
    font-size: 20px;
}

.card{
    height: 550px;
    border-radius: 15px !important;
     background-color: #26b8a2;
    width: 69%;
    
    top: 59px;
    left: 100%;
  
}
.card-header{
    border-radius: 15px 15px 0 0 !important;
    border-bottom: 0 !important;
}


.msg_card_body{
    overflow-y: auto;

}
.type_msg{
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color:white !important;
    height: 60px !important;
    overflow-y: auto;
}
.message-bubble{
    background-color:white;
}
